
/* What are common breakpoints? Common breakpoints are 
320px — 480px for mobile devices,
481px — 768px for iPads & tablets, 
769px — 1024px for small screens like laptop
*/
*{
  box-sizing: border-box;
}
body {
  background-color: antiquewhite;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.navbar{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding-left:0px ;
  color: rgb(82, 79, 79);
  font-weight: 100;
  font-size: large;
}

.navbar a{
  text-decoration: none;
}
.navbar a:hover{
  text-decoration: underline blueviolet;
  color: brown
}
#active-page{
  color: brown;
}
/* home */

#main-title{
  font-size: larger;
  margin-top: 0px;
  font-weight: 300;
}

#my-name{
  font-size: xx-large;
  margin-top: 0px;
  letter-spacing: 5px;
}

#livingroom-img{
  width: 100%;
}
/* home */

/* bio */
.bio-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.bio-description{
  font-size: larger;
}

.bio-header-images img{
  border-radius: 25px;
  margin: 5px;
}
.bio-header-images {
  display: flex;
  justify-content: center;
}

#race-across-the-world-img{
  width: 40%;
  opacity: 90%;
}

#cheesecake-img{
  width: 32.5%;
}

#beach-holiday-img{
  width: 32.5%;
}

#expedia-logo-img{
  width: 25%;
}

#diy-img{
  width: 38%;
}
/* bio */

/* experience */

#black-girls-code-img{
  display: flex;
  margin: auto;
  width: 40%;
  height: auto;
}

/* experience */

/* portfolio */
  .container{
    display: flex;
    flex-direction: column;
    height: 100vh;
  } 
  .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 10px;
    color: rgb(128, 88, 86);
  }

 .portfolio-images-text{
    text-align: center;
  }

  .portfolio-img{
    max-width: 100%;
    height: auto;
  }


/* portfolio */

.social-media-icon{
  color: brown;
  font-size: 50px;
 
}

.footer {
  display: flex;
  flex-direction: row;
  color: rgb(82, 79, 79);
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  align-items: flex-end;
  margin-bottom: 0;
}

@media only screen and (min-width: 481px)and (max-width: 768px){ 
  .navbar{
    font-weight: 300;
    font-size: x-large;
  }
}

@media only screen and (min-width: 769px){ 
  .navbar{
    font-weight: 300;
    font-size: xx-large;
  }
}
@media only screen and (min-width: 769px){ 

  .home{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    max-width: 100%;
    margin-left: 0%;
  }

  #portfolioHeader{
    font-size: 40px;
    color: rgb(128, 88, 86);
    font-weight: 300;
    margin-bottom: 0%;
  }

  #myName{
    font-size: 48px;
    /* color: rgb(82, 79, 79); */
    color: rgb(128, 88, 86);
    letter-spacing: 5px;
  }

  #livingroom{
padding-top: 4%;
    width: 100%;
    margin: auto;
    height: auto;
    overflow: hidden;
  }
  #toilet{
   display: none;
  }

  
}
@media only screen and (max-width: 320px){
  #DIY{
    display: none;
  }

  #beachHoliday{
    margin-left: 60px;
  }

  .experienceUl{
    padding-left: 20px;
  }

  
}

@media only screen and (max-width: 425px){
  .experienceTitles{
    font-size: 12px;
  }
}