
/* What are common breakpoints? Common breakpoints are 
320px — 480px for mobile devices,
481px — 768px for iPads & tablets, 
769px — 1024px for small screens like laptop
*/
*{
  box-sizing: border-box;
}
body {
  background-color: antiquewhite;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.navbar{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding-left:0px ;
  color: rgb(82, 79, 79);
  font-weight: 100;
  font-size: large;
  cursor: pointer;
}

.navbar a{
  text-decoration: none;
}
.navbar a:hover{
  text-decoration: underline rgb(227, 137, 137);
  color: brown;
  cursor: pointer;
}

.navbar a::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: aliceblue;
  transition: width 0.25s ease-out;
}

.navbar a:hover::before{
  width: 100%;
}

#active-page{
  color: brown;
  cursor: pointer;
}
/* home */
.home-container{
  background-image: url(https://static.vecteezy.com/system/resources/previews/003/988/578/original/psychedelic-groovy-retro-background-vector.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home-main{
  position: absolute;
  top: 40%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-title, #my-name{
  display: block;
  text-transform: uppercase;  
  margin: 10px;
}

#main-title{
  letter-spacing: 8px;
  position: relative;
  animation: text 3s 1;
  font-size: larger;
  font-weight: 300;
  color: whitesmoke;
}

#my-name{
  font-size: xx-large;
  letter-spacing: 5px;
  color: whitesmoke;
}

@keyframes text {
  0%{
  }
  30%{
    letter-spacing: 2px;
  }
  85%{
    letter-spacing: 8px;
  }
}

/* home */

/* bio */

.bio-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.bio-description{
  font-size: larger;
}
.bio-header-images {
  display: flex;
  justify-content: center;
}

.bio-header-images img{
  border-radius: 5px;
  box-shadow: 0px 3px 2px #000;
}
.bio-header-images a {
  padding: 5px;
  width: 100%;
}

.bio-header-images img:hover{
  box-shadow:  0px 8px 30px #000;
  transition: all 300ms ease-in-out;
  border-radius: 5px;
}
#race-across-the-world-link{
  width: 40%;
}
#race-across-the-world-img{
  width: 100%;
}
#cheesecake-link{
  width: 32.5%;
}
#cheesecake-img{
  width: 100%;
}
#beach-holiday-link{
  width: 32.5%;
}
#beach-holiday-img{
  width: 100%;
}
#expedia-logo-link{
  width: 25%; 
}
#expedia-logo-img{
  width: 100%;
}
#diy-link{
  width: 38%;
}
#diy-img{
  width: 100%;
}

/* bio */

/* experience */
.experience-titles{
  text-align: center;
}
.expertise-list{
  padding-left: 10px;
}

#black-girls-code-img{
  display: flex;
  margin: auto;
  width: 40%;
  height: auto;
}

/* experience */

/* portfolio */
  .container{
    display: flex;
    flex-direction: column;
    height: 100vh;
  } 
  .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 10px;
    color: rgb(128, 88, 86);
  }

 .portfolio-images-text{
    text-align: center;
  }

  .portfolio-img{
    max-width: 100%;
    height: auto;
  }


/* portfolio */

.social-media-icon{
  color: brown;
  font-size: 50px;
 
}

.footer {
  display: flex;
  flex-direction: row;
  color: rgb(82, 79, 79);
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  align-items: flex-end;
  margin-bottom: 0;
}

@media only screen and (min-width: 481px)and (max-width: 768px){ 
  .navbar{
    font-weight: 300;
    font-size: x-large;
    cursor: pointer;
  }
}

@media only screen and (min-width: 768px){
  .portfolio-img{
    max-width: 400px;
  }

  .porfolio-img-1024px{
    display: flex;
  }
  
  .porfolio-img-768px{
    flex-direction: row-reverse;
  }

  .portfolio-images-text{
    display: flex;
    align-items: center;
  }
}

@media only screen and (min-width: 769px){ 
  .navbar{
    font-weight: 300;
    font-size: xx-large;
    cursor: pointer;
  } 
} 
@media only screen and (min-width: 1024px){
  .navbar{
    font-size: xx-large;
    justify-content: space-evenly;
  }
  main{
    display: flex;
    align-items: space-between;
  }
  .bio-description{
    font-size: xx-large;
  }

  main figure {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
  }

  .bio-header-images {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    margin: 0;
  }
  
  #main-title{
    font-size: 50px;
  }
  #my-name{
    font-size: 70px;
  }
  .experience-main{
    width: 74%;
    margin: auto;
    font-size: 19px;
    flex-direction: row;

  }
  .experience-main section {
    flex: 1;
    margin: 0 5%;
  }

  #black-girls-code-background-img{
    background-image: url(https://lever-client-logos.s3.us-west-2.amazonaws.com/0dd2b62b-4a39-4e5d-bda6-33eb1ce4e8f9-1644250396869.png);
    background-size: 150px;
    background-repeat: repeat-x;
    height: 146px;
    width: 160%;
  }
  #black-girls-code-img{
    display: none;
  }

  .portfolio-main{
    flex-direction: column;
    justify-content: space-around;
  }
  .porfolio-img-1024px{
    width: 70%;
    margin: 1%;
  }
}
  


